body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 250px;
}

button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
}

button:hover {
  background-color: #0062cc;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

#resultado {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
}
